@model string

<div class="form-floating mt-3">
    <textarea style="height:100px;" class="form-control" id="floatingTextarea">@Model</textarea>
    <label for="floatingTextarea">Your access token</label>
</div>

<p class="m-0 mt-2 text-secondary">*For security purposes, this token will not be available here anymore unless you generate a new one. Make sure you save it in a secure location!</p>

