@inherits CustomRazorPage<AssignModel>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-inherit" id="exampleModalLabel">Users exists!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="m-0 mb-3">This user exists in our database! Do you want to assign it under your account?</p>
                <form id="assignmentForm" onsubmit="return false">
                    <input hidden asp-for="UserId" />
                    <select class="fs-inherit pa-admin-select w-100" asp-for="UserRole">
                        @if (ExtendedUser.IsInRole("SystemAdministrator"))
                        {
                            <option value="SystemAdministrator">SystemAdministrator</option>
                        }

                        <option value="Administrator">Administrator</option>
                        <option value="Developer">Developer</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn pa-admin-success-btn text-nowrap fs-inherit" onclick="AddUserToAccount()">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    Yes
                </button>
                <button type="button" class="btn btn-secondary fs-inherit" onclick="$('#confirmationModal').remove()" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>