@model ProfileModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<h2>@ViewData["Title"]</h2>
<h4>Account settings</h4>
<hr class="w-100">
<div class="row">
    <partial name="_ProfileNav" />
    <div class="col-12 col-md-9">
        <h4>Change password</h4>
        <form asp-controller="Account" asp-action="Update" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                @if (Model.IsUsernameEnabled)
                {
                    <input asp-for="Username" class="form-control" />
                }
                else
                {
                    <input asp-for="Username" class="form-control" disabled />
                }
            </div>
            <div class="mb-3">
                <label asp-for="UserRole" class="form-check-label mb-2"></label>
                <input disabled asp-for="UserRole" class="form-control" />
            </div>
            <button type="submit" class="btn pa-admin-success-btn">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
