@inherits CustomRazorPage<RegisterModel>
@{
    ViewData["Title"] = "Manage";
    ViewData["ActivePage"] = ManageNavPages.Register;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<h1 class="fs1-inherit">@ViewData["Title"]</h1>
<h2 class="fs2-inherit">Manage users</h2>
<hr class="w-100">
<div class="row justify-content-center">
    <partial name="_ProfileNav" />
    <div class="col-12 col-md-9">
        <p class="fw-bold fs4-inherit">Add new user</p>
        <form method="post" id="form" onsubmit="return false">
            <input hidden name="Page" value="@Page.Register" />
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control fs-inherit border-end-0" oninput="HideUserDetails()" />
                    <a class="btn pa-admin-success-btn text-nowrap" onclick="CheckUserExistance()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                        Check user
                    </a>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <span id="userCheckMessage"></span>
            </div>
            <div class="d-none">
                <div class="mb-3">
                    <label asp-for="SalesForceName" class="form-label">SalesForce name</label>
                    <input asp-for="SalesForceName" class="form-control fs-inherit" />
                </div>
                <div class="mb-3">
                    <label asp-for="SalesForceId" class="form-label">SalesForce Id</label>
                    <input asp-for="SalesForceId" class="form-control fs-inherit" />
                </div>
                <div class="mb-3">
                    <label asp-for="OosId" class="form-label">Oos Id</label>
                    <input asp-for="OosId" class="form-control fs-inherit" />
                </div>
                <div class="mb-3">
                    <label asp-for="UserRole" class="form-label"></label>
                    <select class="fs-inherit pa-admin-select w-100" asp-for="UserRole">
                        @if (ExtendedUser.IsInRole("SystemAdministrator"))
                        {
                            <option value="SystemAdministrator">SystemAdministrator</option>
                        }

                        <option value="Administrator">Administrator</option>
                        <option value="Developer">Developer</option>
                        <option value="DeveloperTrial">DeveloperTrial</option>
                    </select>
                </div>
                <button type="button" class="btn pa-admin-success-btn fs-inherit" onclick="Register()">Register</button>
            </div>
        </form>
    </div>
</div>

<div id="modalContainer"></div>
<div id="statusMessageContainer"></div>

<script src="~/js/ManageUsersScript.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

