@inherits CustomRazorPage<RegisterModel>
@{
    ViewData["Title"] = "Manage";
    ViewData["ActivePage"] = ManageNavPages.Register;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<h1 class="fs1-inherit">@ViewData["Title"]</h1>
<h2 class="fs2-inherit">Manage users</h2>
<hr class="w-100">
<div class="row justify-content-center">
    <partial name="_ProfileNav" />
    <div class="col-12 col-md-9">
        <p class="fw-bold fs4-inherit">Add new user</p>
        <form asp-controller="Account" asp-action="PostRegister" method="post" id="form">
            <input hidden name="Page" value="@Page.Register" />
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Username</label>
                <div class="input-group">
                    <input asp-for="UserName" class="form-control fs-inherit border-end-0" oninput="HideUserDetails()" />
                    <a class="btn pa-admin-success-btn text-nowrap" onclick="CheckUserExistance()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                        Check user
                    </a>
                </div>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <span id="userCheckMessage"></span>
            </div>
            <div class="d-none">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control fs-inherit" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control fs-inherit" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control fs-inherit" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="RoleId" class="form-label"></label>
                    <select class="fs-inherit pa-admin-select w-100" asp-for="RoleId" asp-items="@Model.Roles"></select>
                </div>
                <button type="submit" class="btn pa-admin-success-btn fs-inherit">Register</button>
            </div>
        </form>
    </div>
</div>

<div id="modalContainer"></div>

<script src="~/js/ManageUsersScript.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

