@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration;
@{
    var siteName = configuration["SiteName"];
}
@if (string.IsNullOrEmpty(siteName))
{
    <h2 style="color:white">PA Admin</h2>
}
else
{
    <h2 style="color:white">PA Admin - @configuration["SiteName"]</h2>
}
