@model PluginVersion

<div id="pluginVersionContainer">
    <input hidden asp-for="IsPrivatePlugin" value="true" />
    <input hidden asp-for="Id" />
    <h6 class="mb-3 ml-lg-3">VersionName</h6>
    <div id="versionDetails" class="m-0 ml-lg-3">
        <input hidden asp-for="VersionName" />
        <input hidden asp-for="TechnicalRequirements" />
        <input hidden asp-for="SelectedProduct.Id" />
        <input hidden asp-for="SelectedProduct.ProductName" />
        <input hidden asp-for="SelectedProduct.ParentProductID" />
        <input hidden asp-for="SelectedProduct.MinimumStudioVersion" />

        @for (int i = 0; i < Model.SupportedProducts.Count; i++)
        {
            <input hidden asp-for="SupportedProducts[i].Id" />
            <input hidden asp-for="SupportedProducts[i].ParentProductID" />
            <input hidden asp-for="SupportedProducts[i].ProductName" />
            <input hidden asp-for="SupportedProducts[i].MinimumStudioVersion" />
        }

        <div class="d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 align-self-center form-label" asp-for="VersionNumber">Version Number <span class="text-danger">*</span></label>
            <div class="w-100">
                <input asp-for="VersionNumber" class="form-control" />
                <span asp-validation-for="VersionNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 align-self-center form-label" asp-for="MinimumRequiredVersionOfStudio">Minimum Studio Version <span class="text-danger">*</span></label>
            <div class="w-100">
                <input asp-for="MinimumRequiredVersionOfStudio" class="form-control" />
                <span asp-validation-for="MinimumRequiredVersionOfStudio" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 align-self-center" asp-for="DownloadUrl">Download URL <span class="text-danger">*</span></label>
            <div class="w-100">
                <input asp-for="DownloadUrl" class="form-control" />
                <span asp-validation-for="DownloadUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-check d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 form-check-label" asp-for="IsNavigationLink">Is navigation link</label>
            <input asp-for="IsNavigationLink" type="checkbox" class="m-0 align-self-center p-3" />
        </div>
        <div class="form-check d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 form-check-label" asp-for="AppHasStudioPluginInstaller">Has plugin extension</label>
            <input asp-for="AppHasStudioPluginInstaller" type="checkbox" class="m-0 align-self-center p-3" />
        </div>
        <div class="d-flex align-content-center col-12 p-0">
            <label class="col-4 m-0 align-self-center form-label" asp-for="SelectedProductId">Product</label>
            @if (Model.IsNewVersion)
            {
                <select asp-for="SelectedProductId" asp-items="@Model.SupportedProductsListItems" class="form-select"></select>
            }
            else
            {
                <input disabled value="@Model.SelectedProduct.ProductName" class="form-control" />
            }
        </div>
    </div>
</div>
