@model ExtendedPluginVersion<string>

<div id="pluginVersionContainer">
    <input hidden asp-for="IsPrivatePlugin" value="true" />
    <input hidden asp-for="VersionId" />
    <h6 class="mb-3 ml-lg-3">@Model.VersionName</h6>
    <div id="versionDetails" class="m-0 ml-lg-3">
        <input hidden asp-for="VersionName" />
        <input hidden asp-for="TechnicalRequirements" />
        <input hidden asp-for="SelectedProduct.Id" />
        <input hidden asp-for="SelectedProduct.ProductName" />
        <input hidden asp-for="SelectedProduct.ParentProductID" />
        <input hidden asp-for="SelectedProduct.MinimumStudioVersion" />

        @for (int i = 0; i < Model.SupportedProducts?.Count; i++)
        {
            <input hidden asp-for="SupportedProducts[i]" />
        }

        <div class="d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 align-self-center form-label" asp-for="VersionNumber">Version Number <span class="text-danger">*</span></label>
            <div class="w-100">
                <input asp-for="VersionNumber" class="form-control" />
                <span asp-validation-for="VersionNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 align-self-center form-label" asp-for="MinimumRequiredVersionOfStudio">Minimum Studio Version </label>
            <div class="w-100">
                <input asp-for="MinimumRequiredVersionOfStudio" class="form-control" />
                <span asp-validation-for="MinimumRequiredVersionOfStudio" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 align-self-center form-label" asp-for="MaximumRequiredVersionOfStudio">Maximum Studio Version </label>
            <div class="w-100">
                <input asp-for="MaximumRequiredVersionOfStudio" class="form-control" />
                <span asp-validation-for="MaximumRequiredVersionOfStudio" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 align-self-center" asp-for="VersionDownloadUrl">Download URL <span class="text-danger">*</span></label>
            <div class="w-100">
                <input asp-for="VersionDownloadUrl" class="form-control" oninput="ManageChecksum('@Model.VersionDownloadUrl', '@Model.FileHash')" />
                <span asp-validation-for="VersionDownloadUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-check d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 form-check-label" asp-for="IsNavigationLink">Is navigation link</label>
            <input asp-for="IsNavigationLink" type="checkbox" class="m-0 align-self-center p-3" />
        </div>
        <div class="form-check d-flex align-content-center col-12 p-0 mb-3">
            <label class="col-4 m-0 form-check-label" asp-for="AppHasStudioPluginInstaller">Has plugin extension</label>
            <input asp-for="AppHasStudioPluginInstaller" type="checkbox" class="m-0 align-self-center p-3" />
        </div>
        <div class="mb-3 d-flex align-content-center col-12 p-0">
            <label class="col-4 m-0 align-self-center form-label" asp-for="FileHash">Checksum </label>
            <div class="d-flex flex-column w-100">
                <div class="input-group">
                    <button class="btn btn-secondary" type="button" onclick="GenerateChecksum()">
                        <span class="spinner-border spinner-border-sm" hidden role="status" aria-hidden="true"></span>
                        Generate
                    </button>
                        <input asp-for="FileHash" class="form-control" />
                </div>
                <span asp-validation-for="FileHash" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex align-content-center col-12 p-0">
            <label class="col-4 m-0 align-self-center form-label" asp-for="SelectedProductId">Product</label>
            <select asp-for="SelectedProductId" asp-items="@Model.SupportedProductsListItems" class="form-select"></select>
        </div>
    </div>
    <div class="d-flex align-items-center my-3">
        <span class="w-100 border-bottom"></span>
        <h6 class="text-nowrap">Compare with manifest</h6>
        <span class="w-100 border-bottom"></span>
    </div>
</div>
