@model RegisterModel
@{
    ViewData["Title"] = "Sign up";
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<div id="statusMessageContainer"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6 rounded p-5 bg-light">
            <section>
                <form asp-controller="Authentication" asp-action="PostRegister" id="form" onsubmit="return false" method="post">
                    <h3 class="text-start">Sign up</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        Already have an account? <a asp-controller="Authentication" asp-action="Login">Sign in</a>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn pa-admin-success-btn w-100" onclick="Register()">Register</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<script src="~/js/ManageUsersScript.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
