@model string

<div class="col-12 col-md-3">
    <ul class="nav nav-pills flex-column" id="profile-navbar">
        <li class="nav-item"><a class="nav-link cursor-pointer option @ManageNavPages.ProfileNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/Profile/@Model' })">Edit</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer option @ManageNavPages.ChangePasswordNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/ChangePassword/@Model' })">Reset password</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer option @ManageNavPages.ManageNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/Users/Assigned' })">Users</a></li>
    </ul>
</div>
