@inject SignInManager<IdentityUser> SignInManager

<div class="col-12 col-md-3">
    <ul class="nav nav-pills flex-column" id="profile-navbar">
        <li class="nav-item"><a class="nav-link option @ManageNavPages.IndexNavClass(ViewContext)" href="/Identity/Manage/Profile">Profile</a></li>
        <li class="nav-item"><a class="nav-link option @ManageNavPages.ChangePasswordNavClass(ViewContext)" href="/Identity/Manage/ChangePassword">Password</a></li>
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item"><a class="nav-link option" href="/Identity/Account/Register">Add another user</a></li>
        }
    </ul>
</div>

