<div class="col-12 col-md-3">
    <ul class="nav nav-pills flex-column" id="profile-navbar">
        <li class="nav-item"><a class="nav-link option @ManageNavPages.IndexNavClass(ViewContext)" href="/Identity/Account/Profile">Profile</a></li>
        <li class="nav-item"><a class="nav-link option @ManageNavPages.ChangePasswordNavClass(ViewContext)" href="/Identity/Account/ChangePassword">Password</a></li>
    </ul>
</div>

