@inject SignInManager<IdentityUser> manager
 
<div class="col-12 col-md-3">
    <ul class="nav nav-pills flex-column" id="profile-navbar">
        <li class="nav-item"><a class="nav-link cursor-pointer option @ManageNavPages.ProfileNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/Profile' })">Profile</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer option @ManageNavPages.ChangePasswordNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/ChangePassword' })">Password</a></li>
        @if (User.IsInRole("Administrator")){
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageNavPages.ManageNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/Users' })">Users</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageNavPages.RegisterNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/Register' })">Add another user</a></li>
        }
    </ul>
</div>

