@model ExtendedPluginDetails
@{
    ViewData["Title"] = "Edit";
    ViewData["ActivePage"] = ManagePluginsNav.PluginDetails;
    ViewData["ActiveSubPage"] = ManagePluginTabs.Draft;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<partial name="_LinkPartial" />
<div id="modalContainer"></div>
<div id="statusMessageContainer"></div>

<form method="post" class="row px-2" onsubmit="return false" id="form" enctype="multipart/form-data">
    <div class="col-12 col-lg-4">
        <partial name="_PluginsNavPartial" model="@Model" />
    </div>

    <div class="col-12 col-lg-8 border-container">
        @if (Model.IsEditMode)
        {
            <partial name="_PluginSubMenu" model="Model.Id" />
        }

        <input readonly hidden name="Page" value="@Page.Draft" />

        <partial name="_PluginDetailsPartial" model="@Model" />

        @if (User.IsInRole("Developer"))
        {
            <button class="btn pa-admin-success-btn" onclick="Submit(true)">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Submit
            </button>
            <button class="btn pa-admin-outline-success-btn" onclick="SaveAsDraft()">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Save as draft
            </button>
        }
    </div>
</form>

<script asp-append-version="true">let isReadOnly = false</script>
<script src="~/js/PluginDetailsScript.js"></script>
<script src="~/js/DropDown.js"></script>
<script src="~/js/RichTextEditor.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


