@model PluginDetailsModel
@{
    ViewData["Title"] = "Add";
}

<div id="statusMessageContainer"></div>
<form method="post" id="form" onsubmit="return false">
    <div class="row p-2" id="pluginDetails">
        <div class="col-12 col-lg-4">
            <div class="d-flex justify-content-center">
                <img class="img-thumbnail border-0" src="@Model.PrivatePlugin.IconUrl" asp-append-version="true">
            </div>
            <h5 class="text-center text-wrap p-1">@Model.PrivatePlugin.Name</h5>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <p class="col-4 m-0 align-self-center">Status</p>
                <select class="status-select" asp-for="PrivatePlugin.Inactive">
                    <option value="false">Active</option>
                    <option value="true">Inactive</option>
                </select>
            </div>
            <div class="d-flex justify-content-between">
                <h6>Versions <span class="text-danger">*</span></h6>
                <a onclick="javascript: AddNewVersion()" class="new-version-button"> <i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div class="col-12 col-lg-8 border-container">

            <input hidden asp-for="PrivatePlugin.Id" />
            <input hidden asp-for="PrivatePlugin.IsEditMode" />
            <input hidden asp-for="SelectedVersionId" id="selectedVersionId" />
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <input hidden asp-for="Categories[i].Id" />
                <input hidden asp-for="Categories[i].Name" />
                <input hidden asp-for="Categories[i].ParentCategoryID" />
            }

            <div class="mb-3 d-flex align-content-center col-12 p-0">
                <label class="col-4 m-0 align-self-center form-label" asp-for="PrivatePlugin.Name">Plugin Name <span class="text-danger">*</span></label>
                <div class="w-100">
                    <input asp-for="PrivatePlugin.Name" class="form-control" />
                    <span asp-validation-for="PrivatePlugin.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 d-flex align-content-center col-12 p-0">
                <label class="col-4 m-0 align-self-center form-label" asp-for="PrivatePlugin.IconUrl">Icon url <span class="text-danger">*</span></label>
                <div class="w-100">
                    <input asp-for="PrivatePlugin.IconUrl" class="form-control" />
                    <span asp-validation-for="PrivatePlugin.IconUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 d-flex align-content-center col-12 p-0">
                <label class="col-4 m-0 align-self-center form-label" asp-for="PrivatePlugin.DeveloperName">Developer </label>
                <input asp-for="PrivatePlugin.DeveloperName" class="form-control" />
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="PrivatePlugin.ChangelogLink">Changelog link </label>
                <input asp-for="PrivatePlugin.ChangelogLink" class="form-control" />
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="PrivatePlugin.SupportUrl">Support url </label>
                <input asp-for="PrivatePlugin.SupportUrl" class="form-control" />
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="PrivatePlugin.SupportEmail">Support email </label>
                <input asp-for="PrivatePlugin.SupportEmail" class="form-control" />
            </div>
            <div class="mb-3 d-flex align-content-center col-12 p-0">
                <label class="col-4 m-0 align-self-center form-label" asp-for="PrivatePlugin.Description">Description <span class="text-danger">*</span></label>
                <div class="w-100">
                    <textarea asp-for="PrivatePlugin.Description" class="form-control"></textarea>
                    <span asp-validation-for="PrivatePlugin.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 d-flex align-content-center col-12 p-0">
                <label class="col-4 m-0 align-self-center form-label" asp-for="PrivatePlugin.Categories">Plugin categories </label>
                <select class="form-select" multiple="multiple" asp-for="SelectedCategories" asp-items="Model.CategoryListItems"></select>
            </div>
            <div class="form-check d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0" asp-for="PrivatePlugin.PaidFor">Paid for</label>
                <input asp-for="PrivatePlugin.PaidFor" type="checkbox" class="m-0 align-self-center p-3" />
            </div>

            <div id="pluginVersionContainer"></div>
            <div id="modalContainer"></div>
            <button type="button" onclick="javascript: AddPlugin()" class="btn btn-primary pa-admin-success-btn ml-lg-3">Save</button>
        </div>
    </div>
</form>

<script src="~/js/AddPluginScript.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}