@inherits CustomRazorPage<ExtendedPluginDetails>
@{
    ViewData["Title"] = "Edit";
    ViewData["ActivePage"] = ManagePluginsNav.PluginDetails;
    ViewData["ActiveSubPage"] = ManagePluginTabs.Pending;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<div id="modalContainer"></div>
<div id="statusMessageContainer"></div>

<form method="post" class="row px-2" onsubmit="return false" id="form" enctype="multipart/form-data">
    <div class="col-12 col-lg-4">
        <partial name="_PluginsNavPartial" model="@Model" />
    </div>

    <div class="col-12 col-lg-8 border-container">
        @if (Model.IsEditMode)
        {
            <partial name="_PluginSubMenu" model="Model.Id" />
        }

        <input readonly hidden name="Page" value="@Page.Details" />

        <partial name="_PluginDetailsPartial" model="@Model" />

        <div class="mb-2">
            @if (ExtendedUser.IsInRole("Developer"))
            {
                <button class="btn pa-admin-success-btn" onclick="SavePlugin('Submit')">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    Submit
                </button>
                <button class="btn pa-admin-outline-success-btn" onclick="SavePlugin('SaveAsDraft')">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    Save as draft
                </button>
            }

            @if (ExtendedUser.IsInRole("SystemAdministrator") && Model.Status == Status.InReview)
            {
                <button class="btn pa-admin-success-btn" onclick="SavePlugin('Approve', true)">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    Approve
                </button>
                <button class="btn btn-danger" onclick="SavePlugin('Reject', true)">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    Reject
                </button>
            }
        </div>
    </div>
</form>

<script src="~/js/PluginScript.js"></script>
<script src="~/js/DropDown.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}