<div class="modal" tabindex="-1" id="linkModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Insert link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="linkPlaceholder" class="form-label">Placeholder</label>
                    <input type="text" class="form-control" id="linkPlaceholder">
                </div>
                <div class="mb-3">
                    <label for="link" class="form-label">Link</label>
                    <input type="text" class="form-control" id="link">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn pa-admin-success-btn" data-bs-dismiss="modal" onclick="InsertLink()">Insert</button>
            </div>
        </div>
    </div>
</div>
