@model (bool, int id)

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link cursor-pointer @(Model.Item1 ? "active-tab" : null)" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Edit/@Model.id'})">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link cursor-pointer @(!Model.Item1 ? "active-tab" : null)" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Edit/@Model.id/Comments'})">Comments</a>
    </li>
</ul>
