<div class="p-3 table-dimension-selector">
    <h6 class="table-dimension">0x0</h6>
    <div class="d-flex justify-content-between mb-2">
        <div id="1x1" class="selector-cell border cursor-pointer"></div>
        <div id="1x2" class="selector-cell border cursor-pointer"></div>
        <div id="1x3" class="selector-cell border cursor-pointer"></div>
        <div id="1x4" class="selector-cell border cursor-pointer"></div>
        <div id="1x5" class="selector-cell border cursor-pointer"></div>
        <div id="1x6" class="selector-cell border cursor-pointer"></div>
        <div id="1x7" class="selector-cell border cursor-pointer"></div>
        <div id="1x8" class="selector-cell border cursor-pointer"></div>
        <div id="1x9" class="selector-cell border cursor-pointer"></div>
        <div id="1x10" class="selector-cell border cursor-pointer"></div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div id="2x1" class="selector-cell border cursor-pointer"></div>
        <div id="2x2" class="selector-cell border cursor-pointer"></div>
        <div id="2x3" class="selector-cell border cursor-pointer"></div>
        <div id="2x4" class="selector-cell border cursor-pointer"></div>
        <div id="2x5" class="selector-cell border cursor-pointer"></div>
        <div id="2x6" class="selector-cell border cursor-pointer"></div>
        <div id="2x7" class="selector-cell border cursor-pointer"></div>
        <div id="2x8" class="selector-cell border cursor-pointer"></div>
        <div id="2x9" class="selector-cell border cursor-pointer"></div>
        <div id="2x10" class="selector-cell border cursor-pointer"></div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div id="3x1" class="selector-cell border cursor-pointer"></div>
        <div id="3x2" class="selector-cell border cursor-pointer"></div>
        <div id="3x3" class="selector-cell border cursor-pointer"></div>
        <div id="3x4" class="selector-cell border cursor-pointer"></div>
        <div id="3x5" class="selector-cell border cursor-pointer"></div>
        <div id="3x6" class="selector-cell border cursor-pointer"></div>
        <div id="3x7" class="selector-cell border cursor-pointer"></div>
        <div id="3x8" class="selector-cell border cursor-pointer"></div>
        <div id="3x9" class="selector-cell border cursor-pointer"></div>
        <div id="3x10" class="selector-cell border cursor-pointer"></div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div id="4x1" class="selector-cell border cursor-pointer"></div>
        <div id="4x2" class="selector-cell border cursor-pointer"></div>
        <div id="4x3" class="selector-cell border cursor-pointer"></div>
        <div id="4x4" class="selector-cell border cursor-pointer"></div>
        <div id="4x5" class="selector-cell border cursor-pointer"></div>
        <div id="4x6" class="selector-cell border cursor-pointer"></div>
        <div id="4x7" class="selector-cell border cursor-pointer"></div>
        <div id="4x8" class="selector-cell border cursor-pointer"></div>
        <div id="4x9" class="selector-cell border cursor-pointer"></div>
        <div id="4x10" class="selector-cell border cursor-pointer"></div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div id="5x1" class="selector-cell border cursor-pointer"></div>
        <div id="5x2" class="selector-cell border cursor-pointer"></div>
        <div id="5x3" class="selector-cell border cursor-pointer"></div>
        <div id="5x4" class="selector-cell border cursor-pointer"></div>
        <div id="5x5" class="selector-cell border cursor-pointer"></div>
        <div id="5x6" class="selector-cell border cursor-pointer"></div>
        <div id="5x7" class="selector-cell border cursor-pointer"></div>
        <div id="5x8" class="selector-cell border cursor-pointer"></div>
        <div id="5x9" class="selector-cell border cursor-pointer"></div>
        <div id="5x10" class="selector-cell border cursor-pointer"></div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div id="6x1" class="selector-cell border cursor-pointer"></div>
        <div id="6x2" class="selector-cell border cursor-pointer"></div>
        <div id="6x3" class="selector-cell border cursor-pointer"></div>
        <div id="6x4" class="selector-cell border cursor-pointer"></div>
        <div id="6x5" class="selector-cell border cursor-pointer"></div>
        <div id="6x6" class="selector-cell border cursor-pointer"></div>
        <div id="6x7" class="selector-cell border cursor-pointer"></div>
        <div id="6x8" class="selector-cell border cursor-pointer"></div>
        <div id="6x9" class="selector-cell border cursor-pointer"></div>
        <div id="6x10" class="selector-cell border cursor-pointer"></div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div id="7x1" class="selector-cell border cursor-pointer"></div>
        <div id="7x2" class="selector-cell border cursor-pointer"></div>
        <div id="7x3" class="selector-cell border cursor-pointer"></div>
        <div id="7x4" class="selector-cell border cursor-pointer"></div>
        <div id="7x5" class="selector-cell border cursor-pointer"></div>
        <div id="7x6" class="selector-cell border cursor-pointer"></div>
        <div id="7x7" class="selector-cell border cursor-pointer"></div>
        <div id="7x8" class="selector-cell border cursor-pointer"></div>
        <div id="7x9" class="selector-cell border cursor-pointer"></div>
        <div id="7x10" class="selector-cell border cursor-pointer"></div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div id="8x1" class="selector-cell border cursor-pointer"></div>
        <div id="8x2" class="selector-cell border cursor-pointer"></div>
        <div id="8x3" class="selector-cell border cursor-pointer"></div>
        <div id="8x4" class="selector-cell border cursor-pointer"></div>
        <div id="8x5" class="selector-cell border cursor-pointer"></div>
        <div id="8x6" class="selector-cell border cursor-pointer"></div>
        <div id="8x7" class="selector-cell border cursor-pointer"></div>
        <div id="8x8" class="selector-cell border cursor-pointer"></div>
        <div id="8x9" class="selector-cell border cursor-pointer"></div>
        <div id="8x10" class="selector-cell border cursor-pointer"></div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div id="9x1" class="selector-cell border cursor-pointer"></div>
        <div id="9x2" class="selector-cell border cursor-pointer"></div>
        <div id="9x3" class="selector-cell border cursor-pointer"></div>
        <div id="9x4" class="selector-cell border cursor-pointer"></div>
        <div id="9x5" class="selector-cell border cursor-pointer"></div>
        <div id="9x6" class="selector-cell border cursor-pointer"></div>
        <div id="9x7" class="selector-cell border cursor-pointer"></div>
        <div id="9x8" class="selector-cell border cursor-pointer"></div>
        <div id="9x9" class="selector-cell border cursor-pointer"></div>
        <div id="9x10" class="selector-cell border cursor-pointer"></div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div id="10x1" class="selector-cell border cursor-pointer"></div>
        <div id="10x2" class="selector-cell border cursor-pointer"></div>
        <div id="10x3" class="selector-cell border cursor-pointer"></div>
        <div id="10x4" class="selector-cell border cursor-pointer"></div>
        <div id="10x5" class="selector-cell border cursor-pointer"></div>
        <div id="10x6" class="selector-cell border cursor-pointer"></div>
        <div id="10x7" class="selector-cell border cursor-pointer"></div>
        <div id="10x8" class="selector-cell border cursor-pointer"></div>
        <div id="10x9" class="selector-cell border cursor-pointer"></div>
        <div id="10x10" class="selector-cell border cursor-pointer"></div>
    </div>
</div>
