@model CategoriesModel
@{
    ViewData["Title"] = "Settings";
    ViewData["ActivePage"] = ManageSettingsNav.Categories;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<div id="statusMessageContainer"></div>
<h1 class="fs1-inherit">Settings</h1>
<h2 class="fs2-inherit">Manage categories</h2>
<hr class="w-100">
<div class="row d-flex" id="settings-page">
    <partial name="_SettingsNavPartial" />
    <div class="col-12 col-md-9">
        <p class="fw-bold fs4-inherit mb-2">Categories</p>
        <div class="settings-details">
            <form method="post" id="form" onsubmit="return false">
                <table id="categoriesTable" class="table table-bordered table-collapse">
                    <thead>
                        <tr class="align-middle d-none d-lg-table-row">
                            <th>Id</th>
                            <th>Name</th>
                            <td class="icon-cell text-center"><i onclick="table.AddNewRow()" title="Add new category" class="fa fa-plus-circle success-icon cursor-pointer"></i></td>
                            <td class="icon-cell"></td>
                        </tr>
                    </thead>
                    <tbody class="table-body tbody-stripped">
                        <partial name="_CategoriesPartial" model="@Model.Categories" />
                    </tbody>
                    <tbody id="newRowPartial" class="tbody-stripped">
                    </tbody>
                </table>
                <button type="button" onclick="table.AddNewRow()" title="Add new category" class="btn pa-admin-success-btn d-inline fs-inherit">Add new</button>
            </form>
        </div>
    </div>
</div>
<div id="modalContainer"></div>
<partial name="_ModalPartial" model="@(new ModalMessage())" />

<script src="~/js/TableCrud.js" asp-append-version="true"></script>
<script asp-append-version="true">
    const table = new TableCrud("Categories/Delete/", "Categories/Add", 'Categories/Update', "Categories/AddNew", "#categoriesTable");
</script>

