@model Comment

<input hidden asp-for="CommentId" />
<input hidden asp-for="CommentDate" />
<input hidden asp-for="CommentAuthor" />
<input hidden asp-for="PluginId" />
<input hidden asp-for="VersionId" />
<input hidden name="Page" value="@Page.Comment" />

<div id="editor">
    @Html.Raw(Model.CommentDescription)
</div>
<textarea asp-for="CommentDescription" class="text-area-hidden"></textarea>
<span asp-validation-for="CommentDescription" class="text-danger"></span>

<button class="btn pa-admin-success-btn mt-2" onclick="SaveComment()">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
    Save
</button>
<button class="btn btn-secondary mt-2" onclick="EnsurePreserved(() => { DiscardCommentEdit() })">Cancel</button>