@model ProductsModel
@{
    ViewData["Title"] = "Settings";
    ViewData["ActivePage"] = ManageSettingsNav.Products;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<div id="statusMessageContainer"></div>
<h2>Settings</h2>
<h4>Change site settings</h4>
<hr class="w-100">
<div class="row d-flex" id="settings-page">
    <partial name="_SettingsNavPartial" />
    <div class="col-12 col-md-9" id="namesMapping">
        <div class="settings-details">
            <h4>Products</h4>
            <form method="post" id="form" onsubmit="return false">
                <table id="productsTable" class="table table-bordered">
                    <thead>
                        <tr class="align-middle d-none d-lg-table-row">
                            <th>Id</th>
                            <th>ProductName</th>
                            <th>ProductVersion</th>
                            <th>ProductParentId</th>
                            <th class="text-center">IsDefault</th>
                            <td class="icon-cell text-center"><i onclick="table.AddNewRow()" class="fa fa-plus-circle text-success cursor-pointer"></i></td>
                            <td class="icon-cell"></td>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <partial name="_ProductsPartial" model="@Model.Products" />
                    </tbody>
                    <tbody id="newRowPartial">
                    </tbody>
                </table>
                <button type="button" onclick="table.AddNewRow()" class="btn pa-admin-success-btn">Add new</button>
            </form>
        </div>
    </div>
</div>
<div id="modalContainer"></div>
<partial name="_ModalPartial" model="@new ModalMessage()" />

<script src="~/js/TableCrud.js"></script>
<script src="~/js/ProductsScript.js"></script>
