@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AppStoreIntegrationService.Pages.Settings
@{
    ViewData["Title"] = "Settings";
}
<head>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <style>
        .nav-pills .nav-link.active {
            color: black;
            background-color: #28b059;
        }

        .option:focus {
            background-color: white;
        }

        .nav-item {
            cursor: pointer;
        }

        .nav-link:hover{
            background-color: #28b059;
        }

    </style>
</head>

<h2>Settings</h2>
<h4>Change site settings</h4>
<hr class="w-100">
<div class="row d-flex">
    <div class="col-3">
        <ul class="nav nav-pills flex-column" id="settings-navbar">
            <li class="nav-item"><a class="nav-link option">Set site name</a></li>
            <li class="nav-item"><a class="nav-link option">Import plugins</a></li>
            <li class="nav-item"><a class="nav-link option">Export plugins</a></li>
        </ul>
    </div>
    <div class="col-md-6" id="settings-details-container">
        <div class="d-none settings-details">
            <h5>Set site name</h5>
            <div>
                <form method="post" class="mt-3">
                    <input asp-for="@Model.SiteName" value="@Model.SiteName" class="form-control mb-2" />
                    <button type="submit" asp-page-handler="SaveSiteName" class="btn btn-success">Set</button>
                </form>
            </div>
        </div>
        <div class="d-none settings-details">
            <h5>Import plugins</h5>
            <form method="post" class="mt-3" enctype="multipart/form-data" id="import-file-form" onsubmit="return false;">
                <input asp-for="@Model.ImportedFile" type="file" class="form-control mb-2" />
                <button type="button" onclick="javascript: ImportFile()" class="btn btn-outline-secondary">Import</button>
                <div id="modalContainer"></div>
            </form>
        </div>
        <div class="d-none settings-details">
            <h5>Export plugins</h5>
            <form method="post" class="mt-3">
                <input type="submit" class="btn btn-outline-secondary" asp-page-handler="ExportPlugins" value="Export" />
            </form>
        </div>
    </div>
</div>

<script src="~/js/configToolScripts.js"></script>


