.field-validation-error {
    color: red;
}

body{
    overflow-x:hidden;
}

.image-container-details{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 150px;
}

.img-container {
    height: 50px;
}

.img-item {
    height: 100%;
    display: block;
    margin: auto;
    margin-top: 5px;
}

.card-item {
    height: 100%;
    width: 75%;
}

.card-body-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-actions a {
    color: #CAD0D5 !important;
}

.card-actions-alignment {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#edit-button {
    margin-right: 15px;
}

#edit-button:hover {
    color: #87CEFA !important;
}

#delete-button:hover {
    color: #F08080 !important;
    border: #F08080 !important;
}

.add-pluginBtn {
    background-color: #28b059;
    border: #28b059;
    margin-bottom:5px;
    width: 153px;
}

.add-pluginBtn:hover {
    background-color: #2aa65b !important;
    border: #2aa65b !important;
}

/*Edit page*/
.border-container {
    border-left: 1px solid #E1E7EB;
}

@media (max-width:992px){
    .border-container {
        border-left: 0px solid #E1E7EB;
    }
}

@media (max-width:768px) {
    .profile-navbar,
    #settings-navbar {
        border-bottom: 1px solid #E1E7EB;
        margin-bottom: 10px;
    }
}

.details-lbl {
    margin: 16px;
}

.details-input {
    height: min-content;
}

.details-img-item {
    display: block;
    margin: auto;
    margin-top: 5px;
    height: 100%;
}

.img-container-details {
    height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.plugin-title {
    text-align: center;
    padding: 5px;
}

.new-version-button {
    cursor: pointer;
    margin-right: 0;
    padding: 5px;
    color: #28b059 !important;
}

header {
    background-color: #2aa65b;
}

.fa-trash-alt {
    color: red;
    cursor: pointer;
}

.status-align {
    margin: 15px 0px;
}

.status-label {
    margin-right: 30px;
}

.status-selector {
    float: inline-end;
    width: 190px;
    margin-right: 17px;
    background: white;
    border-style: ridge;
    border-radius: 0.25rem;
    padding-left: 5px;
    color: #3c3c3c;
}

.trash-edit-align {
    float: inline-end;
    margin-right: 23px;
    margin-top: 3px;
}

.card-status {
    color: #4d4d4d;
}

.card-item-inactive {
    background-color: #F2F2F2
}

.pencil-color {
    color: #848484;
}

.filter-box {
    color: white;
    background: #28b059;
    height: 36px;
    font-size: 1rem;
    font-weight: 400;
}

.filter-selectmenu {
    width: 6.5rem;
    border: 0px solid #28b059;
    border-right-width: 0px;
    border-right-width: 10px;
    border-radius: 0.25rem 0px 0px 0.25rem;
    text-align: right;
    cursor: pointer;
    padding-right: 2px;
    padding-top: 0px;
    margin-top: 1px;
}

    .filter-selectmenu:hover {
        background-color: #2aa65b;
        border-color: #2aa65b;
    }

.filter-searchbar {
    width: 208px;
    height: 36px;
    outline: none;
    padding: 10px;
    margin-left: -5px;
    border: 2px solid #28b059;
    border-right-width: 0px
}

    .filter-searchbar:focus {
        border-color: #2aa65b;
    }

    .filter-searchbar:focus::placeholder {
        color: transparent;
    }

.filter-searchicon {
    width: 30px;
    height: 36px;
    margin-left: -5px;
    color: #929292;
    background: transparent;
    border-radius: 0px 0.25rem 0.25rem 0px;
    border: 2px solid #28b059;
    border-left-width: 2px;
    border-left-width: 0px;
    cursor: pointer;
}

    .filter-searchicon:focus {
        outline: none;
        box-shadow: none;
    }

.filter-activefilters {
    padding-left: 20px;
}

.delete-filter {
    background: #28b059;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 4.4px 25px 0px 15px;
    margin: 0px 0.25rem 1.3rem 0px;
    height: 30px;
    display: none;
}

    .delete-filter:hover {
        background: #2aa65b;
        font-weight: 600;
    }

.delete-filter-img {
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

.filter-image {
    font-size: 12px;
}

.align-left-filter-newapp {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px 35px 12px 35px;
    margin-bottom: 2px;
}

