.field-validation-error {
    color: red;
}

.img-container {
    height: 50px;
}

.img-item {
    height: 100%;
    display: block;
    margin: auto;
    margin-top:5px;
}

.card-container {
    padding-bottom: 10px;
    padding-top: 10px;
}

.card-item {
    height: 100%;
}
.card-body-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.card-actions a {
    color: #CAD0D5 !important;
 }
#edit-button {
    margin-right: 15px;
}
#edit-button:hover {
   color: #87CEFA !important;
}
#delete-button:hover {
    color: #F08080 !important;
    border: #F08080 !important;
}
.add-pluginBtn {
    background-color: #28b059;
    border: #28b059;
    margin-bottom:5px;
}
.add-pluginBtn:hover {
    background-color: #2aa65b !important;
    border: #2aa65b !important;
}
/*Edit page*/
.details-lbl-container {
    display: flex;
    flex-direction: column;
}
.details-input-container {
    flex: 1;
    flex-direction: column;
}
.details-lbl {
    margin:16px;
}
.details-version-lbl {
    margin: 20px;
    margin-top:15px;
}
    .details-input {
        padding: 10px;
        margin: 10px;
    }
.details-img-item {
    display: block;
    margin: auto;
    margin-top: 5px;
    height:100px;
}
.img-container-details {
    height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.plugin-title {
    text-align: center;
    padding:5px;
}
.version-list-container {
}
.new-version-button {
    cursor: pointer;
    margin-right: 0;
    padding:5px;
    color: #28b059 !important;
}
header {
    background-color: #2aa65b;
}

.fa-trash-alt{
    color: red;
    cursor:pointer;
}

.status-align {
    margin: 15px 0px;
}

.status-label {
    margin-right: 30px;
}

.status-selector {
    float: inline-end;
    width: 190px;
    margin-right: 17px;
    background: white;
    border-style: ridge;
    border-radius: 0.25rem;
    padding-left: 5px;
    color: #3c3c3c;
}

.trash-edit-align {
    float: inline-end;
    margin-right: 18px;
    margin-top: 3px;
}

.card-status {
    padding: 0px 20px 0px 20px;
    color: #4d4d4d !important;
    font-weight: normal;
    margin-bottom: 1px;
}

.card-item-inactive {
    background-color: #F2F2F2
}

.pencil-color {
    color: #848484;
}

.filter-box {
    color: white;
    background: #28b059;
    height: 36px;
    font-size: 1rem;
    font-weight: 400;
}

.filter-selectmenu {
    border: transparent;
    width: 5.4rem;
    border-radius: 0.25rem 0px 0px 0.25rem;
    text-align: center;
    cursor: pointer;
}

    .filter-selectmenu:hover {
        background-color: #2aa65b;
    }

.filter-searchbar {
    width: 200px;
    height: 36px;
    border-color: #28b059;
    outline: none;
    padding: 10px;
    border-width: 1px 0px 1px 0px;
    margin-left: -5px;
}

    .filter-searchbar:focus {
        border-color: #2aa65b;
    }

.filter-searchicon {
    width: 30px;
    height: 36px;
    margin-left: -5px;
    background: transparent;
    color: #28b059;
    border-color: #28b059;
    border-radius: 0px 0.25rem 0.25rem 0px;
    border-width: 1px 1px 1px 0px;
    box-shadow: 0 0 white;
    cursor: pointer;
}

.filter-image {
    font-size: 12px;
}

.align-left-filter-newapp {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px 15px;
}

