@{
    ViewData["Title"] = "Settings";
    ViewData["ActivePage"] = ManageSettingsNav.ExportPlugins;
}

<h1 class="fs1-inherit">Settings</h1>
<h2 class="fs2-inherit">Change site settings</h2>
<hr class="w-100">
<div class="row d-flex" id="settings-page">
    <partial name="_SettingsNavPartial" />
    <div class="col-12 col-md-9" id="settings-details-container">
        <div class="settings-details">
            <div>
                <form method="post">
                    <div class="mb-2">
                        <label for="exportPlugins" class="fw-bold fs4-inherit mb-2">Export plugins</label>
                        <div>
                            <input id="exportPlugins" type="submit" class="btn btn-outline-secondary fs-inherit" asp-controller="ImportExportPlugins" asp-action="CreateExport" value="Export" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>