@model ImportPluginsModel
@{
    ViewData["Title"] = "Settings";
    ViewData["ActivePage"] = ManageSettingsNav.ImportPlugins;
}

<h1 class="fs1-inherit">Settings</h1>
<h2 class="fs2-inherit">Change site settings</h2>
<hr class="w-100">
<div class="row d-flex" id="settings-page">
    <partial name="_SettingsNavPartial" />
    <div class="col-12 col-md-9" id="settings-details-container">
        <div class="settings-details">
            <form method="post" enctype="multipart/form-data" id="importFileForm">
                <div class="mb-2">
                    <label asp-for="ImportedFile" class="fw-bold fs4-inherit mb-2">Import plugins</label>
                    <input asp-for="ImportedFile" class="form-control fs-inherit" />
                    <span asp-validation-for="ImportedFile" class="text-danger"></span>
                </div>
                <button onclick="javascript: ImportPlugins()" type="button" class="btn btn-outline-secondary fs-inherit">Import</button>
            </form>
        </div>
    </div>
</div>
<div id="modalContainer"></div>

<script src="~/js/ImportPluginsScript.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
