:root {
    /* Basic customization */
    --pa-admin-color: #28b059;
    --pa-admin-color-hover: #2aa65b;
    --pa-admin-foreground: #FFFFFF;
    --pa-admin-fontsize: 16px;
    --pa-admin-fontfamily: var(--bs-font-sans-serif);

    /* Advanced customization */
    --pa-admin-navbar-fontsize: var(--pa-admin-fontsize);
    --pa-admin-navbar-color: var(--pa-admin-color);
    --pa-admin-navbar-foreground: var(--pa-admin-foreground);
    --pa-admin-navbar-fontfamily: var(--pa-admin-fontfamily);
    --pa-admin-modal-fontsize: var(--pa-admin-fontsize);
    --pa-admin-modal-color: #FFFFFF;
    --pa-admin-modal-foreground: #000000;
    --pa-admin-modal-fontfamily: var(--pa-admin-fontfamily);
    --pa-admin-body-color: #FFFFFF;
    --pa-admin-body-foreground: #000000;
    --pa-admin-select-fontsize: var(--pa-admin-fontsize);
    --pa-admin-select-color: var(--pa-admin-color);
    --pa-admin-select-foreground: var(--pa-admin-foreground);
    --pa-admin-select-fontfamily: var(--pa-admin-fontfamily);
    --pa-admin-card-fontsize: var(--pa-admin-fontsize);
    --pa-admin-card-color: #FFFFFF;
    --pa-admin-card-foreground: #000000;
    --pa-admin-card-fontfamily: var(--pa-admin-fontfamily);
    --pa-admin-table-fontsize: inherit;
    --pa-admin-table-color: #f2f2f2;
    --pa-admin-table-foreground: inherit;
    --pa-admin-table-fontfamily: inherit;
    --pa-admin-input-fontsize: var(--pa-admin-fontsize);
    --pa-admin-input-color: #FFFFFF;
    --pa-admin-input-foreground: #000000;
    --pa-admin-input-fontfamily: var(--pa-admin-fontfamily);
    --pa-admin-success-fontsize: var(--pa-admin-fontsize);
    --pa-admin-success-color: var(--pa-admin-color);
    --pa-admin-success-foreground: var(--pa-admin-foreground);
    --pa-admin-success-fontfamily: var(--pa-admin-fontfamily);
    --pa-admin-success-color-hover: var(--pa-admin-color-hover);
    --pa-admin-secondary-fontsize: var(--pa-admin-fontsize);
    --pa-admin-secondary-color: #6c757d;
    --pa-admin-secondary-foreground: var(--pa-admin-foreground);
    --pa-admin-secondary-fontfamily: var(--pa-admin-fontfamily);
    --pa-admin-secondary-color-hover: #60666c;
    --pa-admin-danger-fontsize: var(--pa-admin-fontsize);
    --pa-admin-danger-color: #dc3545;
    --pa-admin-danger-foreground: var(--pa-admin-foreground);
    --pa-admin-danger-fontfamily: var(--pa-admin-fontfamily);
    --pa-admin-danger-color-hover: #c91d2e;
}

body, html {
    overflow-x: hidden;
    padding: 0px !important;
    font-size: var(--pa-admin-fontsize);
    font-family: var(--pa-admin-fontfamily);
    color: var(--pa-admin-body-foreground);
    background: var(--pa-admin-body-color);
}

/* Sticky alert */
#alert {
    position: fixed;
    top: 50px;
    right: 20px;
}

.cookie-consent {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding: 17px;
    background-color: var(--pa-admin-navbar-color);
    color: var(--pa-admin-navbar-foreground);
    font-size: var(--pa-admin-navbar-fontsize);
    font-family: var(--pa-admin-navbar-fontfamily);
}

/* Custom multi select list */
.overflow-arrow {
    position: absolute;
}

.fa-chevron-left {
    left: -25px;
}

.fa-chevron-right {
    right: -25px;
}

.selection-summary {
    overflow-x: hidden;
}

.selection-box {
    min-width: fit-content;
}

.custom-select {
    height: min-content;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown {
    color: var(--pa-admin-input-foreground);
    background-color: var(--pa-admin-input-color);
    font-size: var(--pa-admin-input-fontsize);
    font-family: var(--pa-admin-input-fontfamily);
}

.custom-select li:checked,
.custom-select li[selected],
.custom-select li:hover {
    color: var(--pa-admin-input-foreground);
    -webkit-text-fill-color: var(--pa-admin-input-foreground);
    background-color: lightblue !important;
    background: linear-gradient(#ADD8E6, #ADD8E6) !important;
    font-size: var(--pa-admin-input-fontsize);
    font-family: var(--pa-admin-input-fontfamily);
}

.custom-select li {
    background: linear-gradient(var(--pa-admin-input-color), var(--pa-admin-input-color)) !important;
    color: var(--pa-admin-input-foreground);
    font-size: var(--pa-admin-input-fontsize);
    font-family: var(--pa-admin-input-fontfamily);
}

/* Plugins index page */

.delete-filter .fa-times-circle {
    color: var(--pa-admin-foreground) !important;
}

.img-item {
    height: 50px;
    display: block;
    margin: 10px auto auto auto;
}

.card-item {
    min-height: 200px;
    width: 100%;
    background-color: var(--pa-admin-card-color);
    color: var(--pa-admin-card-foreground);
    font-size: var(--pa-admin-card-fontsize);
    font-family: var(--pa-admin-card-fontfamily);
}

.border-container {
    border-left: 1px solid #E1E7EB;
}

.card-status {
    color: #4d4d4d;
    margin-bottom: 0px;
}

.card-item-inactive {
    background-color: #F2F2F2
}

.delete-filter {
    background: var(--pa-admin-color);
    color: var(--pa-admin-foreground);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 25px 0px 15px;
    height: 30px;
    display: none;
    width: max-content;
}

    .delete-filter:hover {
        background: var(--pa-admin-color-hover);
    }

.delete-filter-active {
    display: inline-block;
}

.delete-filter-img {
    padding-right: 10px;
    cursor: pointer;
}

.filter-search {
    border: 2px solid var(--pa-admin-color);
    border-radius: 0.25rem;
    min-height: 2.25rem;
    height: fit-content;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-search-submit {
    color: #929292;
    cursor: pointer;
    font-size: inherit;
}

/* Rich text editor */
.text-area-hidden {
    width: 0px;
    height: 0px;
    float: right;
    margin: 0px;
    padding: 0px;
    visibility: hidden;
}

.rich-text-editor {
    resize: both;
    overflow: auto;
    color: var(--pa-admin-input-foreground);
    background-color: var(--pa-admin-input-color);
    font-size: var(--pa-admin-input-fontsize);
    font-family: var(--pa-admin-input-fontfamily);
}

    .rich-text-editor i:hover,
    .rich-text-editor .dropdown-toggle:hover,
    .active {
        background-color: lightgray;
    }

.edit-area {
    height: 200px;
    outline: 0px solid transparent;
    word-break: normal;
}

.editor-toolbar {
    color: var(--pa-admin-input-foreground);
    background-color: var(--pa-admin-input-color);
    font-size: var(--pa-admin-input-fontsize);
    font-family: var(--pa-admin-input-fontfamily);
}

.selector-cell {
    width: 15px;
    height: 15px;
}

/* Table striped */

table {
    color: var(--pa-admin-table-foreground) !important;
    font-size: var(--pa-admin-table-fontsize);
    font-family: var(--pa-admin-table-fontfamily);
}

.bg-collapsed {
    background-color: var(--pa-admin-table-color) !important;
}

.tbody-stripped tr:nth-child(odd) {
    background-color: var(--pa-admin-table-color) !important;
}

/* Generic */

.fa-clock,
.fa-exclamation-circle {
    position: absolute;
    top: -10px;
    right: -17px;
}

.active-tab {
    border: 1px solid var(--pa-admin-color) !important;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--pa-admin-color) !important;
    color: white !important;
}

.fa-trash-alt, .fa-times-circle {
    color: var(--pa-admin-danger-color) !important;
    font-size: var(--pa-admin-danger-fontsize) !important;
}

.btn-danger {
    background-color: var(--pa-admin-danger-color);
    border-color: var(--pa-admin-danger-color);
    color: var(--pa-admin-danger-foreground);
    font-family: var(--pa-admin-danger-fontfamily);
    font-size: var(--pa-admin-danger-fontsize)
}

    .btn-danger:hover {
        background-color: var(--pa-admin-danger-color-hover);
        border-color: var(--pa-admin-danger-color-hover);
        color: var(--pa-admin-danger-foreground);
        font-family: var(--pa-admin-danger-fontfamily);
        font-size: var(--pa-admin-danger-fontsize)
    }

.fa-pen-alt {
    color: var(--pa-admin-secondary-color);
    font-size: var(--pa-admin-secondary-fontsize);
}

.btn-secondary {
    background-color: var(--pa-admin-secondary-color);
    border: var(--pa-admin-secondary-color);
    color: var(--pa-admin-secondary-foreground);
    font-family: var(--pa-admin-secondary-fontfamily);
    font-size: var(--pa-admin-secondary-fontsize)
}

    .btn-secondary:hover {
        background-color: var(--pa-admin-secondary-color-hover);
        border: var(--pa-admin-secondary-color-hover);
        color: var(--pa-admin-secondary-foreground);
        font-family: var(--pa-admin-secondary-fontfamily);
        font-size: var(--pa-admin-secondary-fontsize)
    }

input[type="text"] {
    color: var(--pa-admin-input-foreground) !important;
    background-color: var(--pa-admin-input-color) !important;
    font-size: var(--pa-admin-input-fontsize) !important;
    font-family: var(--pa-admin-input-fontfamily) !important;
}

input[type="checkbox"]:checked {
    color: var(--pa-admin-foreground) !important;
    background-color: var(--pa-admin-color) !important;
    border-color: var(--pa-admin-color) !important;
    font-size: var(--pa-admin-input-fontsize) !important;
    font-family: var(--pa-admin-input-fontfamily) !important;
}

.input-group-text {
    color: var(--pa-admin-input-foreground) !important;
    background-color: var(--pa-admin-input-color) !important;
    font-size: var(--pa-admin-input-fontsize) !important;
    font-family: var(--pa-admin-input-fontfamily) !important;
}

.fa-check-circle {
    color: var(--pa-admin-success-color);
    font-size: var(--pa-admin-success-fontsize)
}

.success-icon {
    color: var(--pa-admin-success-color);
    font-size: var(--pa-admin-success-fontsize)
}

    .success-icon:hover {
        color: var(--pa-admin-success-color-hover);
        font-size: var(--pa-admin-success-fontsize)
    }

.focus-transparent:focus {
    background-color: transparent;
}

.cursor-pointer {
    cursor: pointer;
}

.fs-inherit {
    font-size: 1em;
}

.fs1-inherit {
    font-size: 2.2em;
}

.fs2-inherit {
    font-size: 2em;
}

.fs4-inherit {
    font-size: 1.5em;
}

.pa-admin-select {
    background: var(--pa-admin-select-color) !important;
    font-size: var(--pa-admin-select-fontsize) !important;
    font-family: var(--pa-admin-select-fontfamily) !important;
    color: var(--pa-admin-select-foreground) !important;
    border-radius: 3px;
    border: none;
    padding: 6px 10px;
    width: 35%;
    height: 100%;
}

.pa-admin-success-btn {
    background-color: var(--pa-admin-success-color);
    border: 1px solid var(--pa-admin-success-color);
    color: var(--pa-admin-success-foreground);
    font-family: var(--pa-admin-success-fontfamily);
    font-size: var(--pa-admin-success-fontsize)
}

    .pa-admin-success-btn:hover {
        background-color: var(--pa-admin-success-color-hover);
        border: 1px solid var(--pa-admin-success-color-hover);
        color: var(--pa-admin-success-foreground);
        font-family: var(--pa-admin-success-fontfamily);
        font-size: var(--pa-admin-success-fontsize)
    }

.pa-admin-outline-success-btn {
    border: 1px solid var(--pa-admin-success-color);
    background-color: var(--pa-admin-success-foreground);
    color: var(--pa-admin-success-color);
    font-family: var(--pa-admin-success-fontfamily);
    font-size: var(--pa-admin-success-fontsize)
}

    .pa-admin-outline-success-btn:hover {
        background-color: var(--pa-admin-success-color);
        border: 1px solid var(--pa-admin-success-color);
        color: var(--pa-admin-success-foreground);
        font-family: var(--pa-admin-success-fontfamily);
        font-size: var(--pa-admin-success-fontsize)
    }

#settings-navbar .nav-link.active,
#profile-navbar .nav-link.active,
.navbar-nav btn:focus,
.navbar-nav a:focus,
.nav-link.active,
.nav-link.active-tab,
header h2 {
    background-color: var(--pa-admin-navbar-color) !important;
    border: var(--pa-admin-navbar-color) !important;
    color: var(--pa-admin-navbar-foreground) !important;
    font-family: var(--pa-admin-navbar-fontfamily) !important;
}

header {
    background-color: var(--pa-admin-navbar-color) !important;
    border: var(--pa-admin-navbar-color) !important;
    font-size: var(--pa-admin-navbar-fontsize) !important;
}

.modal-content {
    font-size: var(--pa-admin-modal-fontsize);
    font-family: var(--pa-admin-modal-fontfamily);
    color: var(--pa-admin-modal-foreground);
    background-color: var(--pa-admin-modal-color);
}

.cursor-move {
    cursor: move;
}

.resizable {
    resize: both;
    overflow: auto;
}

.draggable {
    position: absolute;
    user-select: none;
}

/* keyframes */

.slide-right {
    animation: slide-right 1s ease-in-out forwards;
    transform-origin: left;
}

@keyframes slide-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

/* Responsive */
@media (max-width:768px) {
    #profile-navbar, #settings-navbar {
        border-bottom: 1px solid #E1E7EB;
        margin-bottom: 10px;
    }
}

@media(max-width: 576px) {
    #newAppButton .pa-admin-success-btn {
        width: 100%;
    }
}

@media(max-width: 992px) {
    .border-container {
        border-left: 0px solid #E1E7EB;
    }

    td {
        border-bottom: 1px solid #dee2e6 !important;
        border-bottom-color: #dee2e6 !important;
    }

    .tbody-stripped tr:nth-child(odd) {
        background-color: white !important;
    }

    table .section {
        width: 50% !important;
    }

    .table-collapse .editable-field:nth-of-type(2) .section,
    #usersTable tr td:nth-of-type(1) {
        width: 100% !important;
        font-weight: bold;
    }

    .table-collapse .editable-field:nth-of-type(2) .form-control {
        border: 1px solid #dee2e6;
        border-radius: 3px !important;
    }

    table .input-group {
        border: 1px solid #dee2e6;
        border-radius: 3px;
    }

    #itemsRow .form-control {
        border: none;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
}
