:root {
    --pa-admin-color: #28b059;
    --pa-admin-color-hover: #2aa65b;
}

body, html {
    overflow-x: hidden;
}

.img-item {
    height: 50px;
    display: block;
    margin: 10px auto auto auto;
}

.card-item {
    height: 200px;
    width: 100%;
}

.pa-admin-success-btn {
    background-color: var(--pa-admin-color);
    border: var(--pa-admin-color);
    color: white;
}

    .pa-admin-success-btn:hover {
        background-color: var(--pa-admin-color-hover);
        border: var(--pa-admin-color-hover);
        color: white;
    }

.border-container {
    border-left: 1px solid #E1E7EB;
}

.new-version-button {
    cursor: pointer;
    color: var(--pa-admin-color);
}

    .new-version-button:hover {
        cursor: pointer;
        color: var(--pa-admin-color-hover);
    }

.card-status {
    color: #4d4d4d;
    margin-bottom: 0px;
}

.card-item-inactive {
    background-color: #F2F2F2
}

.delete-filter {
    background: var(--pa-admin-color);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 25px 0px 15px;
    height: 30px;
    display: none;
    width: max-content;
}

    .delete-filter:hover {
        background: var(--pa-admin-color-hover);
    }

.delete-filter-active {
    display: inline-block;
}

.delete-filter-img {
    padding-right: 10px;
    cursor: pointer;
}

.filter-search {
    border: 2px solid var(--pa-admin-color);
    border-radius: 0.25rem;
    height: 2.25rem;
    white-space: nowrap;
}

.filter-search-text {
    background: transparent;
    height: 100%;
    width: 90%;
    outline: none;
    border: transparent;
    text-indent: 5px;
    padding: 0px;
}

    .filter-search-text:focus {
        border-color: var(--pa-admin-color);
    }

        .filter-search-text:focus::placeholder {
            color: transparent;
        }

.filter-search-submit {
    color: #929292;
    cursor: pointer;
    font-size: 14px;
}

.pa-admin-select {
    background: var(--pa-admin-color);
    border-radius: 3px;
    border: none;
    color: white;
    padding: 6px 10px;
    width: 35%;
    height: 100%;
}

.text-area-hidden {
    width: 0px;
    height: 0px;
    float: right;
    margin: 0px;
    padding: 0px;
    visibility: hidden;
}

.rich-text-editor i:hover,
.active {
    background-color: lightgray;
}

.edit-area {
    height: 200px;
    outline: 0px solid transparent;
    word-break: break-all;
    overflow-y: scroll;
}

@media (max-width:992px) {
    .border-container {
        border-left: 0px solid #E1E7EB;
    }
}

#settings-navbar .nav-link.active,
#profile-navbar .nav-link.active,
.navbar-nav btn:focus,
.navbar-nav a:focus,
header {
    background-color: var(--pa-admin-color);
    border: var(--pa-admin-color);
}

@media (max-width:768px) {
    #profile-navbar,
    #settings-navbar {
        border-bottom: 1px solid #E1E7EB;
        margin-bottom: 10px;
    }
}


.focus-transparent:focus {
    background-color: transparent;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-collapsed {
    background-color: #f2f2f2 !important;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2 !important;
}

@media(max-width: 576px) {
    #newAppButton .pa-admin-success-btn {
        width: 100%;
    }
}

@media(max-width: 992px) {
    td {
        border-bottom: 1px solid #dee2e6 !important;
        border-bottom-color: #dee2e6 !important;
    }

    tbody tr:nth-child(odd) {
        background-color: white !important;
    }

    table .section {
        width: 50% !important;
    }

    .table-collapse .editable-field:nth-of-type(2) .section,
    #usersTable tr td:nth-of-type(1) {
        width: 100% !important;
        font-weight: bold;
    }

    .table-collapse .editable-field:nth-of-type(2) .form-control {
        border: 1px solid #dee2e6;
        border-radius: 3px !important;
    }

    table .input-group {
        border: 1px solid #dee2e6;
        border-radius: 3px;
    }

    #itemsRow .form-control {
        border: none;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
}
