@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PA Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/configtool.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="border-bottom box-shadow mb-3">
        <div class="row d-flex justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light col-11 col-lg-8">
                <partial name="_HeaderPartial" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarSupportedContent">
                    @{
                        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                    }
                    @if (result.Success && ViewContext.RouteData.Values["action"].ToString() != "Login")
                    {
                        <partial name="_LoginPartial" />
                    }
                </div>
            </nav>
        </div>
    </header>
    <div class="container px-2">
        <partial name="_CookieConsentPartial" optional />
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="mt-auto border-top text-muted d-flex justify-content-center p-3">
        <div>
            &copy; @DateTime.Now.Year - PA Admin
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/CommonScript.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>