@inherits CustomRazorPage<object>

<ul class="navbar-nav">
    @if (ExtendedUser?.HasSelectedAccount() ?? false)
    {
        <li class="nav-item">
            <a onclick="EnsurePreserved(() => { window.location.href = '/Plugins' })" class="nav-link cursor-pointer active header-link">Plugins List</a>
        </li>

        if (ExtendedUser.IsInRole("SystemAdministrator"))
        {
            <li class="nav-item">
                <a onclick="EnsurePreserved(() => { window.location.href = '/Settings' })" class="nav-link active cursor-pointer header-link">Settings</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a onclick="EnsurePreserved(() => { window.location.href = '/Settings/ExportPlugins' })" class="nav-link active cursor-pointer header-link">Settings</a>
            </li>
        }
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link active cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/Profile' })" class="dropdown-item cursor-pointer">Profile</a>
                    </li>
                    <li>
                        <form asp-controller="Authentication" asp-action="Logout" asp-area="Identity" method="post">
                            <button class="cursor-pointer fs-inherit dropdown-item" type="submit">Sign out</button>
                        </form>
                    </li>
                    <li>
                        <a onclick="EnsurePreserved(() => { window.location.href = '/Identity/Authentication/Accounts' })" class="dropdown-item cursor-pointer">Switch account</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item d-flex align-items-center">
            <partial name="_NotificationsModalPartial" />
        </li>
    }
</ul>
