@inject SignInManager<IdentityUserExtended> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a onclick="EnsurePreserved(() => { window.location.href = '/Plugins' })" class="nav-link cursor-pointer active header-link">Plugins List</a>
        </li>

        if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a onclick="EnsurePreserved(() => { window.location.href = '/Settings' })" class="nav-link active cursor-pointer header-link">Settings</a>
            </li>
        }

        if (User.IsInRole("Developer"))
        {
            <li class="nav-item">
                <a onclick="EnsurePreserved(() => { window.location.href = '/Settings/ExportPlugins' })" class="nav-link active cursor-pointer header-link">Settings</a>
            </li>
        }
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link active cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/Profile' })" class="dropdown-item cursor-pointer">Profile</a>
                    </li>
                    <li>
                        <form asp-controller="Authentication" asp-action="Logout" asp-area="Identity" method="post">
                            <button class="cursor-pointer fs-inherit dropdown-item" type="submit">Sign out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>

        @if (!User.IsInRole("StandardUser"))
        {
            <li class="nav-item d-flex align-items-center">
                <partial name="_NotificationsPartial" />
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link active header-link" id="login" asp-controller="Authentication" asp-area="Identity" asp-action="Login">Sign in</a>
        </li>
    }
</ul>
