@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link cursor-pointer active header-link" data-bs-toggle="modal" data-bs-target="#preferencesModal">Preferences</a>
        </li>

        <li class="nav-item">
            <a onclick="EnsurePreserved(() => { window.location.href = '/Plugins' })" class="nav-link cursor-pointer active header-link">Plugins List</a>
        </li>

        if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a onclick="EnsurePreserved(() => { window.location.href = '/Settings' })" class="nav-link active cursor-pointer header-link">Settings</a>
            </li>
        }

        if (User.IsInRole("Developer"))
        {
            <li class="nav-item">
                <a onclick="EnsurePreserved(() => { window.location.href = '/Settings/ExportPlugins' })" class="nav-link active cursor-pointer header-link">Settings</a>
            </li>
        }

        <li class="nav-item">
            <a onclick="EnsurePreserved(() => { window.location.href = '/Identity/Account/Profile' })" class="active nav-link cursor-pointer header-link">Profile</a>
        </li>

        <li class="nav-item">
            <form asp-controller="Authentication" asp-action="Logout" asp-area="Identity" method="post">
                <button class="nav-link btn btn-link cursor-pointer fs-inherit active header-link" type="submit">Sign out</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link active header-link" id="login" asp-controller="Authentication" asp-area="Identity" asp-action="Login">Sign in</a>
        </li>
    }
</ul>

<partial name="_CustomizationPartial" />
