@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.Split('!')[0] switch
    {
        "Success" => "success",
        "Error" => "danger",
        _ => "warning"
    };

    <div class="alert-container">
        <div id="alert" class="alert shadow alert-@statusMessageClass alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p class="text-break m-0">@Model</p>
        </div>

        <input value="@TempData["Filehash"]" id="GeneratedFileHash" hidden />
    </div>
}

