@model PrivatePlugin;

<div class="modal fade" id="deletePluginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" asp-page="ConfigTool" asp-page-handler="DeletePlugin">
                <div class="modal-body">
                    <div> Are you sure you want to delete @Model.Name ?</div>
                    <input hidden asp-for="@Model.Name" />
                    <input hidden asp-for="@Model.Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-secondary pa-admin-success-btn">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>
