@model ModalMessage;
@{
    var pages = new[] { 
        "/ConfigTool", 
        "/Settings",
        "/Settings/PluginsRename",
        "/Settings/ImportPlugins",
        "/Settings/ExportPlugins",
        "/Identity/Account/Manage" 
    };
}

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Model.Message
            </div>
            <div class="modal-footer">
                @if (Model.ModalType == ModalType.SuccessMessage)
                {
                    if (!string.IsNullOrEmpty(Model.RequestPage) && Model.RequestPage.Equals("add"))
                    {
                        <button type="button" onclick="javascript:  window.location.href = 'Edit?Id=@Model.Id'" class="btn btn-secondary pa-admin-success-btn" data-bs-dismiss="modal">Ok</button>
                    }
                    else if (!string.IsNullOrEmpty(Model.RequestPage) && pages.Any(page => page.Equals(Model.RequestPage)))
                    {
                        <button type="button" onclick="javascript: DiscardChanges('@Model.RequestPage')" class="btn btn-secondary" data-bs-dismiss="modal">Redirect</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                    }
                    else
                    {
                        <button type="button" onclick="javascript: location.reload()" class="btn btn-primary pa-admin-success-btn" style="margin-bottom:0px" data-bs-dismiss="modal">Ok</button>
                    }
                }
                @if (Model.ModalType == ModalType.WarningMessage)
                {
                    if (!string.IsNullOrEmpty(Model.RequestPage) && pages.Any(page => page.Equals(Model.RequestPage)))
                    {
                        <button type="button" onclick="javascript: window.location.href = '@Model.RequestPage'" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                        <button type="button" class="btn pa-admin-success-btn" data-bs-dismiss="modal">No</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success pa-admin-success-btn" data-bs-dismiss="modal">Ok</button>
                    }
                }
            </div>
        </div>
    </div>
</div>

