@page
@model IndexModel

@{
    ViewData["Title"] = "Settings";
    ViewData["ActivePage"] = ManageSettingsNav.Index;
}

<h2>Settings</h2>
<h4>Change site settings</h4>
<hr class="w-100">
<div class="row d-flex" id="settings-page">
    <partial name="_SettingsNavPartial"></partial>
    <div class="col-12 col-md-9" id="settings-details-container">
        <div class="settings-details">
            <h2>Set site name</h2>
            <div>
                <form method="post" class="mt-3">
                    <input asp-for="@Model.SiteName" value="@Model.SiteName" class="form-control mb-2" />
                    <button type="submit" asp-page-handler="SaveSiteName" class="btn add-plugin-btn">Set</button>
                </form>
            </div>
        </div>
    </div>
</div>
