@model ParentProduct

<tr class="table-row d-flex flex-column d-lg-table-row">
    <td class="align-middle">
        <p class="m-0">@Model.Id</p>
        <input hidden asp-for="@Model.Id" />
    </td>
    <td class="order-first align-middle">
        <input class="form-control form-control-sm text-center text-lg-start fs-inherit" asp-for="ProductName" placeholder="ProductName" autofocus />
        <span asp-validation-for="ProductName" class="text-danger"></span>
        </td>
    <td class="text-center align-middle"><i onclick="table.Save()" title="Save new parent product" class="fa fa-check-circle success-icon cursor-pointer align-middle"></i></td>
    <td class="text-center align-middle"><i onclick="table.Discard()" title="Discard changes for parent product" class="fa fa-times-circle text-danger cursor-pointer align-middle"></i></td>
</tr>
